
<div class="empty"></div>
<md-input-container ng-init="pull_matches()">
    <label>Match</label>
    <md-select ng-model="db_match" ng-change="match_selected(db_match)" class="matches">
        <md-option ng-repeat="match in db_matches" value="{{match}}">{{match}}</md-option>
    </md-select>
</md-input-container>
<md-input-container ng-init="pull_teams()">
    <label>Team</label>
    <md-select ng-model="db_team" ng-change="team_selected(db_team)" class="teams">
        <md-option ng-repeat="team in db_teams" value="{{team}}">{{team}}</md-option>
    </md-select>
</md-input-container>
<div class="center">
    <button onclick="get_overall();">OVERALL</button>
    <button onclick="get_single_match(this);" ng-repeat="match in _match" value="{{match.match}}">{{match.match}}</button>
</div>