<div class="center">
    <h3>Admin</h3>
</div>

<md-input-container>
    <label>Team</label>
    <md-select ng-model="db_team" ng-change="teamSelected(db_team)" class="teams">
        <md-option ng-repeat="team in db_teams" value="{{team}}">{{team}}</md-option>
    </md-select>
</md-input-container>
<div class="center" ng-init="selectedTeam && teamSelected(selectedTeam)">
    <div ng-show="selectedTeam">Team {{selectedTeam}}</div>
    <div class="btn-group-vertical">
        <button class="btn btn-primary btn-lg" ui-sref="team_report({team: selectedTeam})" ng-show="selectedTeam">Team Report</button>
        <button class="btn btn-primary btn-lg" onclick="getSingleMatch(this);" ng-repeat="cycle in team_cycles | orderBy:'match':false:sortByMatch" value="{{cycle._id}}" ng-style="setColor(cycle)">{{cycle.match}}</button>
    </div>
</div>

<div class="center">
    <button class="btn btn-default btn-lg" ui-sref="team_picker">Team Picker &#8618</button>
    <button class="btn btn-default btn-lg" ui-sref="table">Table &#8618</button>
</div>    
