<div class="center">
    <h3>Admin</h3>
</div>

<md-input-container>
    <label>Team</label>
    <md-select ng-model="db_team" ng-change="team_selected(db_team)" class="teams">
        <md-option ng-repeat="team in db_teams" value="{{team}}">{{team}}</md-option>
    </md-select>
</md-input-container>
<div class="center" ng-init="db_team && team_selected(db_team);">
    <button class="btn btn-warning btn-lg" onclick="get_overall();" ng-show="db_team">OVERALL</button><br>
    <div class="btn-group-vertical">
    <button class="btn btn-primary btn-lg" onclick="get_single_match(this);" ng-repeat="cycle in team_cycles" value="{{cycle._id}}" ng-style="set_color(cycle)">{{cycle.match}}</button>
    </div>
</div>

<div class="center">
    <button class="btn btn-default btn-lg" ui-sref="team_picker">Team Picker &#8618</button>
    <button class="btn btn-default btn-lg" ui-sref="table">Table &#8618</button>
    <button class="btn btn-default btn-lg" ui-sref="top">Top &#8618</button>
</div>    