<div class = "title"><h3>Autonomous</h3></div>
<div class="left" dir="rtl">
    <div class = "container" dir = "rtl">
        <label class="checkbox"><span dir ="ltr">Crossed line</span>
        <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Fuel to Top</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Fuel to Bottom</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Collected from floor</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Collected from hopper</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Gears</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Crossed from HP</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
        <label class="checkbox"><span dir ="ltr">Crossed from floor</span>
            <md-checkbox class = "checkbox"></md-checkbox>
        </label>
    </div>
</div>
