<button class="leftArrow" ui-sref="team_picker"><</button>
<div class="center"><h3>Autonomous</h3></div>
<div class="content" ng-init="find_canvas()">

    <p class= "comments-types">Movement</p>

    <label><input type="checkbox" ng-model="triedAndFailed" value="0"/> Tried and failed</label>
    <label><input type="checkbox" ng-model="crosedBaseline" value="0"/> Crossed baseline</label>
    
    <p class= "comments-types">Fuel</p>
    <label><input type="checkbox" ng-model="fuelCollectedFromHopper" value="0"/> Collected from hopper</label>
    <label>Estimated points: <input type="number" ng-model="estimatedPoints"/><br></label>

    <p class= "comments-types">Gears</p>

    <label>Successfully planted gears: <input type="number" ng-model = "succeessfullyPlantedGears"/><br></label>
    <label>Missed gears: <input type="number" ng-model = "missedGears"/><br></label>

    <p class= "comments-types">Hoppers</p>
    <label>Released hoppers <input type="number" ng-model="releasedHopper"/><br></label>

    <div class="empty"></div>
    <div class="center" >
        <button class = "btn" ng-click="clear()">Clear</button>
        <button class = "btn" ng-click="undo()">Undo</button>
    </div>
    <canvas id="myCanvas" class="field" ng-click="addOnClick($event)" width="300" height="279"></canvas>
</div>

<div class="center">
    <button ng-click="updateAuto(triedAndFailed,crosedBaseline,fuelCollectedFromHopper,estimatedPoints,succeessfullyPlantedGears,missedGears,releasedHopper); teleop();">Submit</button>
</div>