<button class="leftArrow" ui-sref="team_picker"><span class="glyphicon glyphicon-chevron-left"></span></button>
<div class="header">{{cycle_data.team}} \ {{cycle_data.match}}</div>
<div class="center page-title">
    <h3>Autonomous</h3>
</div>
<div class="content">
    <label><input type="checkbox" ng-model="cycle_data.auto.auto_run" value="0" />Auto Run</label>

    <p class="comments-types">Power Cubes</p>
    <label>Switch: {{cycle_data.auto.switch}}<label><br>
    <div class="btn-group">
            <button class="btn btn-success btn-lg" ng-click="cycle_data.auto.switch=inc_counter(cycle_data.auto.switch, 1)">+1</button>
            <button class="btn btn-danger btn-lg" ng-click="cycle_data.auto.switch=dec_counter(cycle_data.auto.switch, 1)">−1</button>
    </div>
    
    <label>Scale: {{cycle_data.auto.scale}}<label><br>
    <div class="btn-group">
            <button class="btn btn-success btn-lg" ng-click="cycle_data.auto.scale=inc_counter(cycle_data.auto.scale, 1)">+1</button>
            <button class="btn btn-danger btn-lg" ng-click="cycle_data.auto.scale=dec_counter(cycle_data.auto.scale, 1)">−1</button>
    </div>
</div>

<div class="center">
    <button ui-sref="teleop" autoscroll="false">Continue</button>
</div>