<button class="leftArrow" ui-sref="teleop" ng-click="updateDefense(defenseOn, defenseComments)"><span class="glyphicon glyphicon-chevron-left"></span></button>
<div class="header" ng-class="get_team_style_for_match();">{{get_match_string()}}</div>
<div class="center"  ng-init="initDefense();teams=get_teams(allData.match);opposingTeams=get_opposing_teams(allData.team, allData.match);">
    <h3>Defense </h3>
</div>
<div class="content-defense">
        
    <md-input-container>
        <label>Defense on</label>
        <md-select ng-model="defenseOn" id="team"> 
            <md-option value="0" ng-selected="defenseOn==='0'">General</md-option>
            <md-option ng-class="{ablueteam:teams.indexOf(team)<3, aredteam:teams.indexOf(team)>=3}" ng-selected="defenseOn===team" ng-repeat="team in opposingTeams" value="{{team}}">{{team}}</md-option>
        </md-select>
    </md-input-container>

</div>

<div class="text-comment">
    <p class="comments-types">Defense Comments</p>
    <textarea class="form-control" rows="5" id="defensecomment" ng-model="defenseComments"></textarea>
    <br>
    <button class="btn btn-info commentButton" ng-click="defenseComments = concat_comment(defenseComments, 'Personal Defence')">Personal Defence</button>
    <button class="btn btn-info commentButton" ng-click="defenseComments = concat_comment(defenseComments, 'Zone Defence')">Zone Defence</button>
    <button class="btn btn-info commentButton" ng-click="defenseComments = concat_comment(defenseComments, 'Released Hoppers')">Released Hoppers</button>

 <div class = "empty"></div>

<div class="center">
    <button ui-sref= "final_page" ng-click="updateDefense(defenseOn, defenseComments)" >Continue</button>
</div>

</div>