<button class="leftArrow" ui-sref="defense" ng-click="update_final(generalComments)" ng-init="initFinal()">&#129104</button>
<div class="header" ng-class="get_team_style_for_match();">{{get_match_string()}}</div>
<div class="center page-title">
    <h3>Comments</h3>
</div>
<div class = "text-comment">
    <p class = "comments-types">Additional Comments</p>
    <textarea class="form-control" rows="5" name="FinalComments" ng-model="generalComments"></textarea>
    <br>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'Bad Driver')">Bad Driver</button>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'Bad Pilot')">Bad Pilot</button>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'HP Foul')">HP Foul</button>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'Stopped Working')">Stopped Working</button>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'Slow Collection')">Slow Collection</button>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'Slow Plant')">Slow Plant</button>
    <button class="btn btn-info commentButton" ng-click="generalComments = concat_comment(generalComments, 'Slow Climb')">Slow Climb</button>

    <div class = "empty"></div>

<div class="center">
    <button ng-click="update_final(generalComments); finalButton()">Submit</button>
</div>

</div>