<button class="leftArrow" ui-sref="defense" ng-click="update_final(generalComments)" ng-init="initFinal()"><</button>
<div class="center">
    <h3>Comments</h3>
</div>

<div class = "text-comment">
    <p class = "comments-types">Additional Comments</p>
    <textarea rows="10" cols="70" name="FinalComments" ng-model="generalComments" placeholder="Didn't work, Human player foul ...">

    </textarea>

 <div class = "empty"></div>

<div class="center">
    <button class="btn btn-default blue-circle-button" ng-click="update_final(generalComments); finalButton()">Submit</button>
</div>

</div>