<button class="leftArrow" ui-sref="admin" ><</button>

<div class="center"><h1 class= "title">{{team}}</h1></div>

<div class="match-content">

<div><h3>  Team Overall</h3></div>

    <h3 class="comments-types">Autonomous</h3>
    <p class="pReport"><i>Tried and failed:</i> {{o_tf | number : 3}}</p>
    <p class="pReport"><i>Crossed baseline:</i> {{o_cb | number : 3}}</p>
    <p class="pReport"><i>Collected from hopper:</i> {{o_cfh}}</p>
    <p class="pReport"><i>Estimated points:</i> {{o_ep | number : 3}}</p>
    <p class="pReport"><i>Released hoppers:</i> {{o_rh | number : 3}}</p>
    <p class="pReport"><i>Successfully planted gears:</i>{{o_spg | number : 3}}</p>
    <p class="pReport"><i>Missed gears:</i> {{o_mg | number : 3}}</p>

    <h3 class="comments-types">Teleop</h6>
    <p class="pReport"><i>Released hoppers:</i> {{o_trh | number : 3}}</p>
    <p class="pReport"><i>Gears collected from HP:</i> {{o_tgcfh}}</p>
    <p class="pReport"><i>Gears collected from floor:</i> {{o_tgcff}}</p>
    <p class="pReport"><i>Successfully planted gears:</i> {{o_tspg}}</p>
    <p class="pReport"><i>Missed gears:</i> {{o_tmg | number : 3}}</p>
    <p class="pReport"><i>Fuel collecected from floor:</i> {{o_tfcff}}</p>
    <p class="pReport"><i>Fuel collecected from HP:</i> {{o_tfcfh}}</p>
    <p class="pReport"><i>Fuel collecected from hopper:</i> {{o_tfcfho}}</p>
    <p class="pReport"><i>Estimated points:</i> {{o_tep | number : 3}}</p>
    <p class="pReport"><i>Didn't climb:</i> {{o_dc | number : 3}}</p>
    <p class="pReport"><i>Climb tried and failed:</i> {{o_tctaf | number : 3}}</p>
    <p class="pReport"><i>Climb success:</i> {{o_tcs | number : 3}}</p>

    <h3 class="comments-types">Defense</h6>
    <p class="pReport" ng-repeat="do in o_ddo"><i>Defense on:</i> {{do}}</p>
    <p class="pReport" ng-repeat="dc in o_ddc"><i>Defense comments:</i> {{dc}}</p>
    <h3 class="comments-types">General</h6>
    <p class="pReport" ng-repeat="gc in o_ggc"><i>General comments:</i> {{gc}}</p>
    <canvas id="reportauto2" class="field" width="300" height="279"></canvas>

</div>


