<button class="leftArrow" ui-sref="admin" ><</button>

<div class="center"><h1 class= "title">{{team}}</h1></div>

<div class="match-content">

<div>
    
    <h3>  Team Overall</h3>
</div>

    <h3 class="comments-types">Autonomous</h3>
    <p class="pReport"><i>Tried and failed:</i> {{o_tf | number : 0}}/{{o_nom}}</p>
    <p class="pReport"><i>Crossed baseline:</i> {{o_cb | number : 0}}/{{o_nom}}</p>
    <p class="pReport"><i>Successfully planted gears:</i> {{o_spg/o_nom | number : 1}}</p>
    <p class="pReport"><i>Estimated points:</i> {{o_ep/o_nom | number : 1}}</p>
    <p class="pReport"><i>Missed gears:</i> {{o_mg/o_nom | number : 1}}</p>
    <h3 class="comments-types">Teleop</h6>
    <p class="pReport"><i>Released hoppers:</i> {{o_trh | number : 0}}/{{o_nom}}</p>
    <p class="pReport"><i>Gears collected from:</i></p>
    <table align="center" class = "stats_table">
    <th>HP</th><th>floor</th>
    <tr><td>{{o_tgcfh | number : 0}}/{{o_nom}}</td><td>{{o_tgcff | number : 0}}/{{o_nom}}</td></tr>
    </table>
    <p class="pReport"><i>Fuel collecected from:</i></p>
    <table align="center" class = "stats_table">
    <th>HP</th><th>floor</th><th>hoppers</th>
    <tr><td>{{o_tfcff | number : 0}}/{{o_nom}}</td><td>{{o_tfcfh | number : 0}}/{{o_nom}}</td><td>{{o_tfcfho | number : 0}}/{{o_nom}}</td></tr>
    </table>
    <p class="pReport"><i>Successfully planted gears:</i> {{o_tspg/o_nom | number : 1}}</p>
    <p class="pReport"><i>Missed gears:</i> {{o_tmg/o_nom | number : 1}}</p>
    <p class="pReport"><i>Estimated points:</i> {{o_tep/o_nom | number : 1}}</p>
    <p class="pReport"><i>Climbing:</i></p>
    <table align="center" class = "stats_table">
    <th>Did not try</th><th>Failed</th><th>Succeeded</th>
    <tr><td>{{o_dc}}/{{o_nom}}</td><td>{{o_tctaf}}/{{o_nom}}</td><td>{{o_tcs}}/{{o_nom}}</td></tr>
    </table>

    <h3 class="comments-types">Defense</h6>
    <p class="pReport" ng-repeat="do in o_ddo"><i>Defense on:</i> {{do}}</p>
    <p class="pReport" ng-repeat="dc in o_ddc"><i>Defense comments:</i> {{dc}}</p>
    <h3 class="comments-types">General</h6>
    <p class="pReport" ng-repeat="gc in o_ggc"><i>General comments:</i> {{gc}}</p>
    <canvas id="reportauto2" class="field" width="300" height="279"></canvas>

</div>


