<button class="leftArrow small" ui-sref="admin" ><</button>

<div class="center"><h1 class= "title">{{team}}</h1></div>

<div class="match-content">

<div>
    <h3>Team Overall</h3>
</div>

    <h3 class="comments-types">Autonomous</h3>

    <p class="pReport"><i>Movement </i><span ng-style="{background:get_color(-{{o_tf}},{{o_nom}},-0.3,-0.15)}">{{o_cb | number : 0}}/{{tf_cb | number : 0}}/{{o_nom}}</span></p>
    
    <p class="pReport"><img src="../images/Gear.png" class=image_icon><i> Gears: </i>
    <table align="center" class = "stats_table">
        <tbody>
            <th>Match</th>
            <th>Success</th>
            <th>Tried</th>
            <tr ng-repeat="match in matches"><td><b>{{match.match}}</b></td><td>{{match.auto.succeessfullyPlantedGears}}<td>{{match.auto.missedGears + match.auto.succeessfullyPlantedGears}}</td></tr>
        </tbody>
        <tfoot>
            <tr><td><b>Average</b></td><td ng-style="{background:get_color({{o_spg}},{{o_nom}},0.25,0.5)}">{{o_spg/o_nom | number : 1}}</td><td ng-style="{background:get_color(-{{o_spg+o_mg}},{{o_nom}},-0.55,-0.2)}">{{(o_spg+o_mg)/o_nom | number : 1}}</td></tr>
        </tfoot>
    </table>
    
    <img src="../images/Fuel.png" class=image_icon><i> Estimated points: </i>
    <table align="center" class = "stats_table">
        <tbody ng-repeat="match in matches">
            <tr><td><b>{{match.match}}</b></td><td><i>{{match.auto.estimatedPoints}}</i></td></tr>
        </tbody>
             <tr ng-style="{background:get_color({{o_ep}},{{o_nom}},2,6)}"><td><b>Average</b></td><td><i>{{o_ep/o_nom | number : 1}}</i></td></tr>  
    </table>

    <h3 class="comments-types">Teleop</h6>
    
    <p class="pReport"><img src="../images/Gear.png" class=image_icon><i> Gears collected from:</i></p>
    <table align="center" class = "stats_table">
        <th ng-style="{background:get_color(o_tgcfh,o_nom,0.4,0.8)}">HP</th>
        <th ng-style="{background:get_color(o_tgcff,o_nom,0.2,0.5)}">floor</th>
        <tr><td ng-style="{background:get_color(o_tgcfh,o_nom,0.4,0.8)}">{{o_tgcfh | number : 0}}/{{o_nom}}</td>
        <td ng-style="{background:get_color(o_tgcff,o_nom,0.2,0.5)}">{{o_tgcff | number : 0}}/{{o_nom}}</td></tr>
    </table>

    <p class="pReport"><img src="../images/Fuel.png" class=image_icon><i> Fuel collected from: </i></p>
    
    <table align="center" class = "stats_table">
        <th ng-style="{background:get_color(o_tfcff,o_nom,0.3,0.6)}">floor</th>
        <th ng-style="{background:get_color(o_tfcfho,o_nom,0.25,0.5)}">hoppers</th>
        <th ng-style="{background:get_color(o_tfcfh,o_nom,0.15,0.3)}">HP</th>
        <tr><td ng-style="{background:get_color(o_tfcff,o_nom,0.3,0.6)}">{{o_tfcff | number : 0}}/{{o_nom}}</td>
        <td ng-style="{background:get_color(o_tfcfho,o_nom,0.25,0.5)}">{{o_tfcfho | number : 0}}/{{o_nom}}</td>
        <td ng-style="{background:get_color(o_tfcfh,o_nom,0.15,0.3)}">{{o_tfcfh | number : 0}}/{{o_nom}}</td></tr>
    </table>

    <p class="pReport"><img src="../images/Gear.png" class=image_icon><i> Gears: </i>
    <table align="center" class = "stats_table">
        <tbody>
            <th>Match</th>
            <th>Success</th>
            <th>Tried</th>
            <tr ng-repeat="match in matches"><td><b>{{match.match}}</b></td><td>{{match.teleop.succeessfullyPlantedGears}}<td>{{match.teleop.missedGears + match.teleop.succeessfullyPlantedGears}}</td></tr>
        </tbody>
        <tfoot>
            <tr><td><b>Average</b></td><td ng-style="{background:get_color({{o_tspg}},{{o_nom}},1.5,2.5)}">{{o_tspg/o_nom | number : 1}}</td><td ng-style="{background:get_color(-{{o_tmg}},{{o_nom}},-0.55,-0.2)}">{{(o_tspg+o_tmg)/o_nom | number : 1}}</td></tr>
        </tfoot>
    </table>

    <img src="../images/Fuel.png" class=image_icon><i> Estimated points: </i>   
    <table align="center" class = "stats_table">
        <tbody ng-repeat="match in matches">
            <tr><td><b>{{match.match}}</b></td><td><i>{{match.teleop.estimatedPoints}}</i></td></tr>
        </tbody>
            <tr ng-style="{background:get_color({{o_tep}},{{o_nom}},2,6)}"><td><b>Average</b></td><td><i>{{o_tep/o_nom | number : 1}}</i></td></tr>
    </table>

    <p class="pReport"><i>Climbing:</i></p>
    
    <table align="center" class = "stats_table" ng-style="{background:get_color(o_tcs,o_nom,0.3,0.75)}">
        <th>Did not try</th><th>Failed</th><th>Succeeded</th>
        <tr><td>{{o_dc}}/{{o_nom}}</td><td>{{o_tctaf}}/{{o_nom}}</td>
        <td>{{o_tcs}}/{{o_nom}}</td></tr>
    </table>

    <h3 class="comments-types">Defense</h6>
    
    <table align="center" class = "stats_table">
        <tbody ng-repeat="match in matches | filter:emptyDefense">
            <tr><td><b>{{match.match}}</b></td><td><i>{{match.defense.defenseOn}}</i></td></tr>
            <tr><td colspan="2">{{match.defense.defenseComments}}</td></tr>
        </tbody>  
    </table>

    <h3 class="comments-types">General</h6>

    <table align="center" class = "stats_table">
        <tbody ng-repeat="match in matches | filter:emptyGeneralComments">
            <tr><td><b>{{match.match}}</b></td></tr>
            <tr><td>{{match.generalComments}}</td></tr>
        </tbody>  
    </table>

    <div class="empty"></div>

</div>


