<div class="center"><h1 style="margin: 10px 0;">{{team}}</h1></div>
<div class="center"><h3>{{match}}</h3></div>
<div class="match-content">
    <h6 style="margin: 10px 0;">Autonomus</h6>
    <p>Tried and failed: {{tf}}</p>
    <p>Crossed baseline: {{cb}}</p>
    <p>Collected from hopper: {{cff}}</p>
    <p>Estimated points: {{ep}}</p>
    <p>Released hoppers: {{rh}}</p>
    <p>Successfully planted gears: {{spg}}</p>
    <p>Missed gears: {{mg}}</p>
    <h6 style="margin: 10px 0;">Teleop</h6>
    <p>Released hoppers: {{trh}}</p>
    <p>Gears collected from HP: {{tgcfh}}</p>
    <p>Gears collected from floor: {{tgcff}}</p>
    <p>Successfully planted gears: {{tspg}}</p>
    <p>Missed gears: {{tmg}}</p>
    <p>Fuel collecected from floor: {{tfcff}}</p>
    <p>Fuel collecected from HP: {{tfcfh}}</p>
    <p>Estimated points: {{tep}}</p>
    <p>Climb tried and failed: {{tctaf}}</p>
    <p>Climb success: {{tcs}}</p>
    <h6 style="margin: 10px 0;">Defense</h6>
    <p>Defense on: {{ddo}}</p>
    <p>Defense comments: {{ddc}}</p>
    <h6 style="margin: 10px 0;">General</h6>
    <p>General comments: {{ggc}}</p>
    <canvas id="reportauto" class="field" width="300" height="279"></canvas>
</div>