<button class="leftArrow" ui-sref="admin"><span class="glyphicon glyphicon-chevron-left"></span></button>
<div class="header">{{cycle_data.team}} \ {{cycle_data.match}}</div>
<div class="center page-title">
    <h3>Report</h3>
</div>
<div class="content">
    <button id="hideCycle" ng-click="hideCycle(cycle_data._id);" ng-show="cycle_data.is_visible">Hide</button>
    <button id="unhideCycle" ng-click="unhideCycle(cycle_data._id);" ng-show="!cycle_data.is_visible">Unhide</button>

    <p class="comments-types">Autonomous</p>
    <p class="pReport" style="color: {{cycle_data.auto.auto_run ? 'green' : 'red'}}">AutoRun: {{cycle_data.auto.auto_run}}</p>
    <p class="pReport">Switch: {{cycle_data.auto.switch}}</p>
    <p class="pReport">Scale: {{cycle_data.auto.scale}}</p>
    <p class="comments-types">Teleop</p>
    <p class="pReport" style="color: {{cycle_data.teleop.collect_floor ? 'green' : 'red'}}">Floor Collection: {{cycle_data.teleop.collect_floor}}</p>
    <p class="pReport" style="color: {{cycle_data.teleop.collect_pyramid ? 'green' : 'red'}}">Pyramid Collection: {{cycle_data.teleop.collect_pyramid}}</p>
    <p class="pReport" style="color: {{cycle_data.teleop.collect_portal ? 'green' : 'red'}}">Portal Collection: {{cycle_data.teleop.collect_portal}}</p>
    <p class="pReport">Exchange: {{cycle_data.teleop.exchange}}</p>
    <p class="pReport">Switch: {{cycle_data.teleop.switch}}</p>
    <p class="pReport">Scale: {{cycle_data.teleop.scale}}</p>
    <p class="comments-types">End Game</p>
    <p class="pReport">Platform: {{cycle_data.teleop.platform}}</p>
    <p class="pReport" style="color: {{{0: 'orange', 1: 'red', 2: 'green'}[cycle_data.teleop.climb]}}">Climb: {{{0: 'Nothing', 1: 'Failed', 2: 'Climbed'}[cycle_data.teleop.climb]}}</p>
    <p class="pReport" style="color: {{{0: 'orange', 1: 'red', 2: 'green'}[cycle_data.teleop.partner_climb]}}">Partner Climb: {{{0: 'Nothing', 1: 'Failed', 2: 'Climbed'}[cycle_data.teleop.partner_climb]}}</p>
    <p class="comments-types">Comments</p>
    <p class="pReport" style="color: {{cycle_data.tech_foul ? 'red' : 'green'}}">Tech Foul: {{cycle_data.tech_foul}}</p>
    <p class="pReport">Comments: {{cycle_data.comments}}</p>
</div>
