<button class="leftArrow" ui-sref="admin" ><</button>

<div class="center"><h1 class= "title">{{team}} / {{match}}</h1></div>

<div class="match-content">

<div><h3>  Report Single Match</h3></div>

<button id="hideCycle" ng-click="hideCycle(team, match);" ng-show="is_visible">Hide</button>
<button id="unhideCycle" ng-click="unhideCycle(team, match);" ng-show="!is_visible">Unhide</button>

    <h3 class="comments-types">Autonomous</h3>
    <p class="pReport">Tried and failed: {{tf}}</p>
    <p class="pReport">Crossed baseline: {{cb}}</p>
    <p class="pReport">Collected from hopper: {{cff}}</p>
    <p class="pReport">Estimated points: {{ep}}</p>
    <p class="pReport">Released hoppers: {{rh}}</p>
    <p class="pReport">Successfully planted gears: {{spg}}</p>
    <p class="pReport">Missed gears: {{mg}}</p>
    
    <h3 class="comments-types">Teleop</h3>
    <p class="pReport">Released hoppers: {{trh}}</p>
    <p class="pReport">Gears collected from HP: {{tgcfh}}</p>
    <p class="pReport">Gears collected from floor: {{tgcff}}</p>
    <p class="pReport">Successfully planted gears: {{tspg}}</p>
    <p class="pReport">Missed gears: {{tmg}}</p>
    <p class="pReport">Fuel collecected from floor: {{tfcff}}</p>
    <p class="pReport">Fuel collecected from HP: {{tfcfh}}</p>
    <p class="pReport">Fuel collecected from hopper: {{tfcfho}}</p>
    <p class="pReport">Estimated points: {{tep}}</p>
    <p class="pReport">Climb tried and failed: {{tctaf}}</p>
    <p class="pReport">Climb success: {{tcs}}</p>
    <h3 class="comments-types">Defense</h3>
    <p class="pReport">Defense on: {{ddo}}</p>
    <p class="pReport">Defense comments: {{ddc}}</p>
    
    <h3 class="comments-types">General</h3>
    <p class="pReport">General comments: {{ggc}}</p>
    <canvas id="reportauto" class="field" width="300" height="279"></canvas>

</div>
