<button class="leftArrow" ui-sref="admin" ><span class="glyphicon glyphicon-chevron-left"></span></button>
<div class="center">
    <h3>Table</h3>
    <input type="tel" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="filter_team" size="4" placeholder="Team" maxlength="4"/>
</div>
<table class="table table-striped table-condensed table-bordered" align="center">
    <th>Match</th>
    <th>Blue 1</th>
    <th>Blue 2</th>
    <th>Blue 3</th>
    <th>Red 1</th>
    <th>Red 2</th>
    <th>Red 3</th>
<tr ng-repeat="match in matches | filter:filter_team">
    <th>{{match.name}}</th>
    <td ng-class = "{filtered:teamFiltered(team, filter_team), checked:entryExists(match.name,team), unchecked:!entryExists(match.name,team)}" ng-repeat="team in match.alliances.blue.teams">{{team}}</td>
    <td ng-class = "{filtered:teamFiltered(team, filter_team), checked:entryExists(match.name,team), unchecked:!entryExists(match.name,team)}" ng-repeat="team in match.alliances.red.teams">{{team}}</td>
</tr>
</table>
