<button class="leftArrow small" ui-sref="admin" ><</button>
<div class="center">
    <h3>Table</h3>
    <input type="tel" onkeypress='return event.charCode >= 48 && event.charCode <= 57' ng-model="filter_team" size="4" placeholder="Team" maxlength="4"/>
</div>
<table class="table table-striped table-condensed table-bordered" align="center" ng-init="get_matches();pull_matches();pull_match_team();">
    <th>Match</th>
    <th>Blue 1</th>
    <th>Blue 2</th>
    <th>Blue 3</th>
    <th>Red 1</th>
    <th>Red 2</th>
    <th>Red 3</th>
<tr ng-repeat="match in matches | filter:filter_team">
    <th>{{match.name}}</th>
    <td ng-class = "{filtered:team_filtered(team, filter_team), checked:entry_exists(match.name,team), unchecked:!entry_exists(match.name,team)}" ng-repeat="team in match.alliances.blue.teams">{{team}}</td>
    <td ng-class = "{filtered:team_filtered(team, filter_team), checked:entry_exists(match.name,team), unchecked:!entry_exists(match.name,team)}" ng-repeat="team in match.alliances.red.teams">{{team}}</td>
</tr>
</table>