<div class="empty"></div>
<md-input-container ng-init="get_matches();">
    <label>Match</label>
    <md-select ng-model="match" ng-change="get_teams(match);" class="matches">
        <md-option ng-repeat="match in matches" value="{{match}}">{{match}}</md-option>
    </md-select>
</md-input-container>
<md-input-container>
    <label>Team</label>
    <md-select ng-model="team"> 
        <md-option class="ateam" ng-repeat="team in teams" value="{{team}}">{{team}}</md-option>
    </md-select>
</md-input-container>
<div class="empty"></div>
<div class="center">
    <a href= "/#/autonomous"/><button class="btn btn-default blue-circle-button">Submit!</button></a>
</div>