<div class="center">
    <h3>Team Picker</h3>
</div>

<div class="team_picker_dialogues">
<div ng-init="get_matches();">
    <label>Match</label>
    <md-select ng-model="matchSelected" ng-change="teams=get_teams(matchSelected);" ng-show="!customMatch">
        <md-option ng-repeat="match in matches" value="{{match.name}}">{{match.name}}</md-option>
    </md-select>
    <input type="checkbox" id="customMatch" ng-model="customMatch">
    <label for="customMatch" style="display: inline; padding-left: 0px">Custom Match</label>
    <input ng-model="matchSelected" ng-show="customMatch" ng-change="teams=get_teams(matchSelected);" style="width: 60%;" capitalize/>
</div>

<div ng-show="matchSelected">
    <label>Team</label>
    <md-select ng-model="teamSelected" ng-show="!customMatch">
        <md-option class="ateam" ng-repeat="team in teams" value="{{team}}">{{team}}</md-option>
    </md-select>
    <input type="number" ng-model="teamSelected" ng-show="customMatch" style="width: 60%;" />
</div>

<div class="center">
    <button ng-click="submit_team_match(teamSelected, matchSelected);" ng-show="matchSelected && teamSelected">Continue</button>
</div>
</div>

<div class="center">
    <button class="toAdmin" ui-sref="admin">Admin &#8618</button>
</div>