<div class="center">
    <h3>Team Picker</h3>
</div>

<md-input-container ng-init="get_matches();">
    <label>Match</label>
    <input ng-model="matchSelected" ng-change="teams=get_teams(matchSelected);" list="matches">
    <datalist id="matches">
        <option ng-repeat="match in matches | filter:emptyMatch" value="{{match.name}}">{{match.name}}</option>
    </datalist>
</md-input-container>

<md-input-container ng-show="matchSelected">
    <label>Team</label>
    <input ng-model="teamSelected" list="teams"> 
    <datalist id="teams">
        <option ng-repeat="team in teams" value="{{team}}">{{ $index < 3 ? 'Blue '+($index+1) : 'Red '+($index-2) }}</option>
    </datalist>
</md-input-container>

<div class="center">
    <button ng-click="submit_team_match(teamSelected, matchSelected);" ng-show="matchSelected && teamSelected">Continue</button>
</div>

<div class="center">
    <button class="toAdmin" ui-sref="admin">Admin &#8618</button>
</div>    