<div class="center">
    <h3>Teleoperated</h3>
</div>
<div class="content">
    <p class= "comments-types">Hoppers</p>
    <label>Released hopper <input type="number"/><br></label>
    
    <p class= "comments-types">Gears</p>
    <label><input type="checkbox"/> Collected from HP</label>
    <label><input type="checkbox"/> Collected from floor</label>
    <label>Successfully planted gears: <input type="number"/><br></label>
    <label>Missed gears:  <input type="number"/><br></label>

    <p class= "comments-types">Fuel</p>
    <label><input type="checkbox"/> Collected from hopper</label>
    <label><input type="checkbox"/> Collected from floor</label>
    <label><input type="checkbox"/> Collected from HP </label>    
    <label>Estimated points: <input type="number"/><br></label>

    <p class= "comments-types">Climbing</p>
    <label><input type="checkbox"/> Failed </label>
    <label><input type="checkbox"/> Success </label>    

    <div class = "empty"></div>

</div> 

<div class="center">
    <button ui-sref= "defense">Submit</button>
</div>
