body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

input::-webkit-input-placeholder {
    font-size: 15px;
}

md-input-container{
  margin-top: 10%;
  left: 5%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.empty{
    height: 20px;
}

.center{
  font-size: 20px;
  text-align: center;
}

.left{
  float:left;
}

.center > h2{
  padding: 0;
  color: #ecf0f1;
}

.title{
  height: 7%;
  text-align: center;
}

label, md-option{
  font-size: 20px;
}

footer{
  text-align: center;
  color: #3498db;
  font-size:11px;
}

body {
 font-size: 18px;   
}

.blue-circle-button {
	box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
	border: .3em solid #ebf1f6;
	font-size: 1em;
	line-height: 1.1em;
	color: #ffffff;
  background: #ebf1f6;
  background: -moz-linear-gradient(top, #ebf1f6 0%, #abd3ee 50%, #89c3eb 51%, #d5ebfb 100%);
  background: -webkit-linear-gradient(top, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%);
  background: linear-gradient(to bottom, #ebf1f6 0%,#abd3ee 50%,#89c3eb 51%,#d5ebfb 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
	margin: auto;
	border-radius: 50%;
	height: 7em;
	width: 7em;
	position: relative;
}
.blue-circle-button:hover {
  color:#ffffff;
  background: #cedbe9;
  background: -moz-linear-gradient(top, #cedbe9 0%, #aac5de 17%, #6199c7 50%, #3a84c3 51%, #419ad6 59%, #4bb8f0 71%, #3a8bc2 84%, #26558b 100%);
  background: -webkit-linear-gradient(top, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%); 
  background: linear-gradient(to bottom, #cedbe9 0%,#aac5de 17%,#6199c7 50%,#3a84c3 51%,#419ad6 59%,#4bb8f0 71%,#3a8bc2 84%,#26558b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedbe9', endColorstr='#26558b',GradientType=0 );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d5ebfb',GradientType=0 );
	text-decoration: none;
	border-color: #ebf1f6;
	
}
.blue-circle-button:visited {
	color:#ffffff;
  background-color: #ebf1f6;
	text-decoration: none;
	
}
.blue-circle-link-greater-than {
    font-size: 1em;
}

button:focus {
    outline:none;
}

button a {
  color: #ffffff;
}

input[type="checkbox"]{
  width: 14px; /*Desired width*/
  height: 14px; /*Desired height*/
  padding: 0;
  margin:0;
  vertical-align: bottom;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
label {
  display: block;
  padding-left: 15px;
  text-indent: -15px;
}

.checkbox {
  font-size: 15px;
}

.container{
  float:left;
}